{# Work entry template #}


{% extends "_layout" %}

{% block content %}


	
	<section id="work-info">
		<div class="container">
			
			<section id="video-player">
				<div class="thumbnail-overlay">
				{% for image in entry.videoThumbnail.limit(1) %}
					<img src="{{ image.getUrl() }}" class="thumbnail_fullwidth">
					<button class="play">Play</button>
				{% endfor %}
				</div>

				<video id="video_fullwidth" preload="auto" volume="7">
					{% for mp4 in entry.videomp4 %}
						<source src="{{ mp4.getUrl() }}" type="video/mp4">
					{% endfor %}
					{% for webm in entry.videowebm %}
						<source src="{{ webm.getUrl() }}" type="video/webm">
					{% endfor %}
					{% for ogg in entry.videoogg %}
						<source src="{{ ogg.getUrl() }}" type="video/ogg">
					{% endfor %}
					Video not supported
				</video>

				<button class="pause hide">Pause</button>
			</section>
			
			<section class="workMeta">
				<div class="row">
					<div class="col-xs-9">
						<h4>{{ entry.workType }}</h4>
						<h1>{{ entry.title }}</h1>
					
						{% if entry.body %}
							{{ entry.body }}
						{% endif %}
					
						{% if entry.creatives | length %}
						<ul class="list-inline">
							<li><h5>Creatives:</h5></li>
								{% for person in entry.creatives %}
									<li>{{ person.title }}</li>
								{% endfor %}
						</ul>
						{% endif %}
					
					</div>
					<div class="col-xs-3">
						<section class="clientLogo">
						{% for client in entry.client %}
							{% for image in client.logo.limit(1) %}
							<a href="{{ client.url }}">
							<img src="{{ image.getUrl() }}">
							</a>
							{% endfor %}
						{% endfor %}
						</section>
					</div>
				</div>
				<input type="button" value="Go Back" class="btn" onclick="history.back(-1)" />
			</section>
		</div>
		
	</section>
	
	<script>
		$(".play").click(function() {
			$(".thumbnail-overlay").addClass("hide");
			$('video').trigger("play");
			$('.pause').removeClass("hide");
		});
	
		$(".pause").click(function() {
			if($("video").get(0).paused) {
				$('video').trigger("play");
			}else{
				$('video').trigger("pause");
			}
		});
	
		$("video").bind("ended", function() {
		   $(".thumbnail-overlay").removeClass("hide");
		});
		
		
		$(function() {
			var vheight = $(".thumbnail_fullwidth").height();
		  	var video = document.getElementsByTagName("video")[0];
			video.setAttribute('height', vheight);
			video.setAttribute('width ', '700');
		});
		
		$(".thumbnail_fullwidth").width();
	</script>
	
{% endblock %}
