@import "bootstrap.less";

// COLOR
@purple: rgba(62,50,80,1);
@purple-denizen: rgba(79,17,126,1);
@lightPurple: rgba(108,94,128,1);
@white: rgb(255,255,255);
@black: rgb(4,4,4);
@darkGray: rgb(27,27,27);

@small: 650px;

// FONTS
.franklinB {
	font-family: "franklin-gothic-urw",sans-serif;
	font-style: normal;
	font-weight: 400;
}
.franklinBI {
	font-family: "franklin-gothic-urw",sans-serif;
	font-style: italic;
	font-weight: 400;
}
.franklinD {
	font-family: "franklin-gothic-urw",sans-serif;
	font-style: normal;
	font-weight: 700;
	letter-spacing: 2px;
}
.callunaR {
	font-family: "calluna",serif;
	font-style: normal;
	font-weight: 300;
}

body {
	background-color: @darkGray;
	color: @white;
	.franklinB();
	&#home {
		background-color: @black;
		/* background-image: url("/public/images/dot-pattern.png"); */
	}
}

p {
	.callunaR();
}

h2 {
	color: @lightPurple;
	text-transform: uppercase;
}

h4 {
	text-transform: uppercase;
	color: @lightPurple;
	font-size: 1.5em;
	.franklinD();
}

h5 {
	text-transform: uppercase;
	color: @lightPurple;
	font-size: 1.1em;
}

img {
	width: 100%;
	height: auto;
}

/* -------------------------------------------------------------------------------- */
// MISC

.heading {
	text-align: center;
	margin-top: 5em;
	margin-bottom: 3em;
}

.clientLogo {
	text-align: center;
	padding-top: 20px;
	img {
		opacity: .5;
		margin: 0 auto;
	}
	&:hover {
		img {
			opacity: 1;
		}
	}
}

/* -------------------------------------------------------------------------------- */
// HEADER

header {
	z-index: 99999;
	nav {
		position: absolute;
		top: 2em;
		right: 4em;
		z-index: 11;
		ul {
			list-style-type: none;
			li {
				display: inline-block;
				margin-top: .5em;
				a {
					color: #fff;
					margin-left: 2em;
					text-transform: uppercase;
					.franklinB();
					font-size: 1.2em;
					padding-bottom: 3px;
					letter-spacing: 1px;
					&:hover {
						color: #fff;
						border-bottom: 3px solid @purple;
						text-decoration: none;
					}
				}
			}
		}
	}
	.logo-container {
		max-width: 300px;
		max-height: 40%;
		margin-top: 0;
		margin-left: 0;
		position: absolute;
		.logo-splash {
			padding: 2em 4em;
		}
	}
}

#home {
	header {
		.logo-container {
			display: none;
		}
		nav {
			position: fixed;
		}
	}
}

@media (max-width: @small) {
	#home-top, header {
		.logo-container {
			margin-top: 0;
			position: absolute;
			max-width: 100%;
			&.smaller {
				max-width: 100%;
				max-height: 40%;
				margin-top: 0;
				margin-left: 0;
			}
			.logo-splash {
				padding: 2.5em 3em 0;
			}
		}
	}
	header {
		nav {
			left: 0;
			right: 0;
			position: absolute;
			ul {
				text-align: center;
				padding: 0;
				margin-top: 8em;
				@media (max-width: 500px) {
					margin-top: 7em;
				}
				@media (max-width: 401px) {
					margin-top: 6em;
				}
				li a {
					margin: 1em;
				}
			}
		}
	}
	#home header nav {
		position: absolute;
	}
}


/* -------------------------------------------------------------------------------- */
// HOMEPAGE

/*
#video_background { 
	position: fixed; 
	top: 0; 
	left: 0;
	min-width: 100%; 
	min-height: 100%; 
	width: auto; 
	height: auto; 
	z-index: -1000; 
	overflow: hidden; 
	background-color: @black;
	#bg_video {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;

	}
}

@supports (object-fit: cover) {
	#video_background { 
		position: fixed; 
		top: 0; 
		left: -20%;
		min-width: 100%; 
		min-height: 100%; 
		width: auto; 
		height: auto; 
		z-index: -1000; 
		overflow: hidden; 
		background-color: @black;
		#bg_video {
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
			object-fit: cover;
		}
	}
}
*/

#video_background { 
	position: fixed; 
	bottom: 0px; 
	left: -20%; 
	min-width: 100%; 
	min-height: 100%; 
	width: auto; 
	height: auto; 
	z-index: -1000; 
	overflow: hidden; 
	background-color: @black;
	text-align: center;
	#bg_video {
		position: relative;
	}
	@media (max-width: @small) {
		left: -100%;
	}
}


.logo-container {
	-webkit-transition: all .65s ease-in-out;
	-moz-transition: all .65s ease-in-out;
	-ms-transition: all .65s ease-in-out;
	-o-transition: all .65s ease-in-out;
	transition: all .65s ease-in-out;
	margin-top: 15%;
	max-height: 100%;
	max-width: 100%;
	text-align: center;
	-webkit-backface-visibility: hidden;
	-webkit-transform: translateZ(0); 
	position: fixed;
	z-index: 12;
	.logo-splash {
		max-width: 100%;
		max-height: 100%;
		margin: auto;
		padding: 4em;
	}
	&.smaller {
		max-width: 300px;
		max-height: 40%;
		margin-top: -2em;
		margin-left: 0;
	}
}

#ourWork {
	background-color: #111;
	padding: 2.5em 0;
	.videoThumbnail {
		padding: 1em 0;
		a {
			display: block;
			background-color: @purple;
		}
		h6 {
			position: absolute;
			font-size: 1.5em;
			bottom: 60px;
			left: 30px;
			color: white;
			display: none;
			z-index: 2;
		}
		&:hover {
			h6 {
				display: block;
			}
			img {
				opacity: .3;
			}
		}
	}
}

#aboutUs {
	background-color: rgba(0,0,0,.1);
	padding: 2.5em 0;
	.heading {
		margin-top: 2.5em;
	}
	p {
		text-align: left;
		font-size: 1.5em;
		margin-bottom: 1em;
		@media (max-width: @small) {
			font-size: 1.2em;
		}
	}
}

#ourClients {
	background-color: @darkGray;
	padding: 5em 2em;
	.clientLogo {
		padding: 40px 20px;
		img {
			max-width: 180px;
		}
	}
}

/* -------------------------------------------------------------------------------- */
// WORK DETAIL

#video-player {
	position: relative;
	overflow: hidden;
	@media (max-width: @small) {
		padding-top: 100px;
	}
}

#video_fullwidth {
	width: 100%;
	height: auto;
	margin-top: 100px;
	background-color: @darkGray;
}

.thumbnail-overlay {
	position: absolute;
	top: 100px;
	width: 100%;
	text-align: center;
	z-index: 7;
	@media (max-width: @small) {
		top: 200px;
	}
}

button {
	background-color: transparent;
	border: 1px solid @white;
	position: absolute;
	z-index: 10;
	padding: 10px 20px;
	font-size: 1.5em;
	text-transform: uppercase;
	.franklinD();
	&:focus {
		outline: none;
	}
	&:hover {
		background-color: rgba(62,50,80,.5);
	}
	&.play {
		top: 45%;
		left: 47%;
		@media (max-width: @small) {
			left: 42%;
			font-size: 1em;
		}
	}
	&.pause {
		top: 120px;
		right: 20px;
		font-size: 1em;
		z-index: 5;
		@media (max-width: @small) {
			bottom: 20px;
			top: inherit;
			font-size: .6em;
			padding: 5px 10px;
		}
	}
}

#work-info {
	padding: 2em 0;
	ul {
		font-size: .9em;
		margin: 0;
		li {
			margin: 0;
			padding: 0;
			&:after {
				content: ",";
			}
			&:first-child,
			&:last-child {
				&:after {
					content: none;
				}
			}
			&:first-child {
				margin-right: 5px;
			}
		}
	}
	.clientLogo {
		img {
			max-width: 100px;
		}
	}
}


/* -------------------------------------------------------------------------------- */
// NEWS

#news {
	padding: 2.5em 0;
	article {
		margin-bottom: 3em;
		padding-bottom: 2em;
		border-bottom: 2px solid @purple;
		&:last-child {
			border: none;
		}
		h3, a {
			color: @lightPurple;
		}
		h6 {
			color: @purple;
			font-size: .9em;
		}
		p {
			font-size: 1.1em;
		}
	}
	@media (max-width: @small) {
		padding-top: 10em;
	}
}


/* -------------------------------------------------------------------------------- */
// FOOTER

footer {
	background-color: @purple;
	text-align: center;
	padding: 2em;
	span {
		margin-right: 3em;
		opacity: .6;
		&:last-child {
			margin-right: 0;
		}
	}
	@media (max-width: @small) {
		font-size: .8em;
		span {
			display: block;
			margin: 10px 0;
		}
	}
}


/* -------------------------------------------------------------------------------- */
// Coming Soon

#comingSoon {
	.logo-container {
		margin-top: 12%;
	}
	text-align: center;
	h1 {
		text-transform: uppercase;
		.franklinD();
		letter-spacing: .25em;
	}
}