/* div#video-player { 
	width:550px; 
	background: black; 
	margin:0px auto;
} */

div#video_controls_bar { 
	background: black; 
	padding: 0 0 6px;
	color: @gray-light;
	overflow: hidden;
	border-radius: 0 0 5px 5px;
	button {
		&:active,
		&:focus {
			border: none;
			outline: none;
		}
	}
}

#playpausebtn, button#mutebtn, button#fullscreenbtn {
	border: none;
	height: 16px;
	width: 16px;
	cursor: pointer;
	background-color: transparent;
	background-image: url("/public/images/glyphicons-halflings_white.png");
	background-size: 469px 159px;
}

#seekslider { 
	width:100%; 
	margin-bottom: 6px; 
	display: block;
}

#playpausebtn { 
	margin-right: 20px;
	background-position: 205px 88px;
	margin-left: 10px;
	&.pause {
		background-position: 182px 88px;
	}
}

#fullscreenbtn {
	margin-left: 1%; 
	float: right;
	background-position: 15px 16px;
	height: 15px;
	width: 13px;
	margin-right: 10px;
}

#mutebtn { 
	float: right; 
	background-position: 60px -25px;
	margin-top: 5px;
	margin-right: 5px;
}

#volumeslider { 
	width: 20%;
	max-width: 80px; 
	min-width: 50px;
	display: inline-block; 
	float: right;
	height: 10px;
	margin-top: 5px;
	margin-right: 40px;
	color: lighten(@purple,20%);
}

#fullscreenbtn { 
	float: right;
	margin-top: 2px;
}

#playpausebtn:hover, 
#mutebtn:hover, 
#fullscreenbtn:hover {
	opacity: .5;
}

@media (max-width: @small) {
	#playpausebtn {
		margin-right: 10px;
	}
	#volumeslider {
		margin-right: 20px;
	}
}

/* Positioning of Custom Control Bar Elemetns */


#curtimetext {  }
#durtimetext { }




#curtimetext, #durtimetext { font-size: .8em; }
	



/* SLIDER INPUT STYLES (Progress Bar an Volume Slider) */

input[type='range'] {
    -moz-appearance: none;
    -webkit-appearance: none !important;
	background: @black;
	color: @purple;
    background: none;
    cursor: pointer;
    display: inline-block;
    height: 100%;
    overflow: hidden;
    width: 100%;
    &#volumeslider {
    	width: 15%;
    	max-width: 100px;
    	min-width: 80px;
    }
}

input[type='range']:focus {
    box-shadow: none;
    outline: none;
}

input[type='range']::-webkit-slider-runnable-track {
    -webkit-appearance: none;
    background: @gray-dark;
    height: 12px;
    width: 100%;
}

input[type='range']::-webkit-slider-thumb:before {
    position: absolute;
    z-index: 1;
    top: 0;
    right: 50%;
    left: -3000px;
    min-width: 100%;
    background: @purple;
    content: '';
    margin-right: 6px;
    height: 12px;
    pointer-events: none; //Update after comment of @Rich Smith
}


input[type='range']::-webkit-slider-thumb {
    -webkit-appearance: none !important;
	position: relative;
    z-index: 999999;
	height: 12px;
	width: 12px;
	border-radius: 30%;
	cursor: pointer;
	background: lighten(@purple, 25%);
}

input[type='range']#volumeslider::-webkit-slider-thumb {
	height: 0;
	width: 0px;
	border-radius: 0;
	cursor: pointer;
	background: rgb(60,26,103);
}

input[type='range']#volumeslider::-webkit-slider-thumb:before {
	margin-right: 0px;

}


input[type='range']::-moz-range-track {
    width: 100%;
    height: 12px;

}

input[type='range']::-moz-range-thumb {
    width: 12px;
    height: 12px;
    -moz-appearance: none;
    background: rgb(152,119,181);
    border: 0;
    border-radius: 30%;
    box-shadow: 0;
    position: relative;

}

input[type='range']#volumeslider::-moz-range-thumb {
	width: 0;
	height: 0;
	background: none;
}

input[type='range']::-moz-range-progress {
    background: rgb(60,26,103);
    height: 12px;
   
}



input[type='range']::-ms-track {
    background: rgb(60,26,103);
    border: 0;
    border-color: transparent;
    border-radius: 0;
    border-width: 0;
    color: transparent;
    height: 15px;
    width: 100%;
}

input[type='range']::-ms-fill-lower {
    background: purple;
    border-radius: 0;
}

input[type='range']::-ms-fill-upper {
    background: lightgreen;
    border-radius: 0;
}

input[type='range']::-ms-thumb {
    width: 0;
    height: 0;
    background: transparent;
}

input[type='range']::-ms-tooltip {
    display: none;
}

