{#
 # Layout template
 # ---------------
 #
 # This template defines your site’s global layout. It can be
 # “extended” by other templates to fill in the gaps.
 #
 # See Twig’s Template Inheritance documentation for more details:
 # http://twig.sensiolabs.org/doc/templates.html#template-inheritance
 #}

<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" lang="en-US">
<head>
	<meta charset="utf-8" />
	<title>{% if title is defined %}{{ title }} - {% endif %}{{ siteName }}</title>
	<link rel="home" href="{{ siteUrl }}" />

	<link rel="stylesheet" type="text/css" href="/public/css/denizen.css" />
	
	<script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
	<script src="/public/js/modernizr.custom.99139.js"></script>	
	
	<script type="text/javascript" src="//use.typekit.net/zzt4jrb.js"></script>
	<script type="text/javascript">try{Typekit.load();}catch(e){}</script>
	
</head>

<body {% if craft.request.firstSegment == '' %}id="home"{% endif %}>
	<header id="header">
		<div class="logo-container">
			<a href="/home"><img class="logo-splash" src="/public/images/denizen-logo_white-outline.png"></a>
		</div>
		<nav>
			<ul>
				<li><a href="/#ourWork" {% if craft.request.firstSegment == 'work' %}class="active"{% endif %}>Our Work</a></li>
				<li><a href="/about" {% if craft.request.firstSegment == 'about' %}class="active"{% endif %}>About Us</a></li>
				<!-- <li><a href="/#aboutUs" {% if craft.request.firstSegment == 'news' %}class="active"{% endif %}>News</a></li> -->
			</ul>
		</nav>
	</header>

	<main id="content" role="main">
		{% block content %}
			<p>If you see me, you haven’t set your <code>{% verbatim %}{% block content %}…{% endblock %}{% endverbatim %}</code> yet.</p>
			<p>See Twig’s <a href="http://twig.sensiolabs.org/doc/templates.html#template-inheritance">Template Inheritance</a> documentation for an explanation.</p>
		{% endblock %}
	</main>

	<footer id="footer">
		<span>{{ contactInfo.address }}</span> <span>{{ contactInfo.phone }}</span>
	</footer>

</body>
</html>
