{#
 # Homepage template
 # ---------------
 #}

{% extends "_layout" %}

{% block content %}

	<video id="video_background" preload="auto" autoplay="true" loop="loop" muted="muted" volume="0">
		<source src="/public/mp4/Discovery_FastNLoud_Kraft.mp4" type="video/mp4">
		<source src="/public/flash/landing.webm" type="video/webm">
	</video>

	<section id="home-top" class="fullscreen">
		<div class="logo-container">
			<img class="logo-splash" src="/public/images/denizen-logo_white-outline.png">
		</div>
	</section>
	
	<section id="video-gallery">
		<div class="container">
			<div class="row">
				{% for entry in craft.entries.section('work').find() %}
					{% for image in entry.videoThumbnail.limit(1) %}
					<div class="col-sm-4">
						<div class="videoThumbnail">
							<a href="{{ entry.url }}">
								<h6>{{ entry.title }}</h6>
								<img src="{{ image.getUrl() }}">
							</a>
						</div>
					</div>
					{% endfor %}
				{% endfor %}
			</div>
		</div>
	</section>
	
	<section id="aboutUs" class="fullscreen">
		<div class="container">
			<div class="heading">
				<h4>About Us</h4>
			</div>
		</div>
	</section>
	<section id="ourClients" class="fullscreen">
		<div class="container">
			<div class="heading">
				<h4>Our Clients</h4>
			</div>
		</div>
	</section>
	
	<script src="/public/js/classie.js"></script>
	<script src="/public/js/application.js"></script>
	
	<script type='text/javascript'>
	$(document).ready(sizeContent);

		//Every resize of window
		$(window).resize(sizeContent);

		//Dynamically assign height
		function sizeContent() {
		    var newHeight = $(window).height();
		    $(".fullscreen").css("min-height", newHeight);
	}
	</script>

{% endblock %}
