{#
 # Homepage template
 # ---------------
 #}

{% extends "_layout" %}

{% block content %}

<!-- 	
	<div id="video_background">
		<video id="bg_video" preload="auto" autoplay="true" loop="loop" muted="muted" volume="0">
			{% for block in home.mainBackgroundVideo %}
				{% for mp4 in block.backgroundMp4 %}
					<source src="{{ mp4.getUrl() }}" type="video/mp4">
				{% endfor %}
				{% for webm in block.backgroundWebm %}
					<source src="{{ webm.getUrl() }}" type="video/webm">
				{% endfor %}
				{% for ogg in block.backgroundOgg %}
					<source src="{{ ogg.getUrl() }}" type="video/ogg">
				{% endfor %}
			{% endfor %}
		</video>
	</div>
-->

	<section id="home-top">
		<div class="logo-container">
			<a href="/#home"><img class="logo-splash" src="/public/images/denizen-logo_white-outline.png"></a>
		</div>
		<video id="bg_video" preload="auto" autoplay="true" loop="loop" muted="muted" volume="0" class="hidden-xs">
			{% for block in home.mainBackgroundVideo %}
				{% for mp4 in block.backgroundMp4 %}
					<source src="{{ mp4.getUrl() }}" type="video/mp4">
				{% endfor %}
				{% for webm in block.backgroundWebm %}
					<source src="{{ webm.getUrl() }}" type="video/webm">
				{% endfor %}
				{% for ogg in block.backgroundOgg %}
					<source src="{{ ogg.getUrl() }}" type="video/ogg">
				{% endfor %}
			{% endfor %}
		</video>
		<img src="/public/images/denizen-cave.png" class="visible-xs">
	</section>
	
	<section id="ourWork">
		<div class="container">
			<div class="heading">
				<h4>Our Work</h4>
			</div>
			
			<div class="row">
				{% for video in home.videoGrid %}
					<div class="col-md-4">
						<div class="videoThumbnail">
							<a href="{{ video.url }}">
								<h6>{{ video.title }}</h6>
								{% for image in video.videoThumbnail.limit(1) %}
								<img src="{{ image.getUrl() }}">
								{% endfor %}
							</a>
						</div>
					</div>
				{% endfor %}
			</div>
			
		</div>
	</section>
	
	<section id="aboutUs" class="fullscreen">
		<div class="container">
			<div class="heading">
				<h4>About Us</h4>
			</div>
			<div class="row">
				<div class="col-md-8 col-md-offset-2">
					{{ about.aboutText }}
				</div>
			</div>
		</div>
	</section>
	<section id="ourClients" class="fullscreen">
		<div class="container">
			<div class="heading">
				<h4>Our Clients</h4>
			</div>
			<div class="row">
				{% for entry in craft.entries.section('clients').find() %}
					{% for image in entry.logo.limit(1) %}
					<div class="col-md-2 col-sm-3 col-xs-6">
						<div class="clientLogo">
							<a href="{{ entry.url }}">
								<img src="{{ image.getUrl() }}">
							</a>
						</div>
					</div>
					{% endfor %}
				{% endfor %}
			</div>
		</div>
	</section>
	
	<script src="/public/js/classie.js"></script>
	<script src="/public/js/application.js"></script>
	
	<script type='text/javascript'>
		$(document).ready(sizeContent);

			//Every resize of window
			$(window).resize(sizeContent);

			//Dynamically assign height
			function sizeContent() {
			    var newHeight = $(window).height();
			    $(".fullscreen").css("min-height", newHeight);
		}
	</script>

{% endblock %}
